<!DOCTYPE html>
<html>
<head>
    <title>Bar Chart Example</title>
    <!-- כאן יש להוסיף את קישור לספריית D3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>דוגמה לגרף עמודות (Bar Chart)</h1>

    <!-- יצירת מקום לגרף -->
    <div id="chart"></div>

    <script>
        // נתוני הגרף
        var data = [
            { name: 'פריט 1', value: 10 },
            { name: 'פריט 2', value: 20 },
            { name: 'פריט 3', value: 15 },
            { name: 'פריט 4', value: 25 },
            { name: 'פריט 5', value: 12 }
        ];

        // גודלי הדף
        var width = 400;
        var height = 300;

        // יצירת קבוצה עבור הגרף
        var svg = d3.select("#chart")
            .append("svg")
            .attr("width", width)
            .attr("height", height);

        // יצירת סולמית לציר X
        var xScale = d3.scaleBand()
            .domain(data.map(function(d) { return d.name; }))
            .range([0, width])
            .padding(0.1);

        // יצירת סולמית לציר Y
        var yScale = d3.scaleLinear()
            .domain([0, d3.max(data, function(d) { return d.value; })])
            .range([height, 0]);

        // הוספת עמודות לגרף
        svg.selectAll("rect")
            .data(data)
            .enter()
            .append("rect")
            .attr("x", function(d) { return xScale(d.name); })
            .attr("y", function(d) { return yScale(d.value); })
            .attr("width", xScale.bandwidth())
            .attr("height", function(d) { return height - yScale(d.value); })
            .attr("fill", "steelblue");

        // הוספת תיאורי צירים
        svg.append("g")
            .attr("class", "x-axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(xScale));

        svg.append("g")
            .attr("class", "y-axis")
            .call(d3.axisLeft(yScale));

    </script>
</body>
</html>
