<!DOCTYPE html>
<html>
<head>
    <title>MOODS - דף הבית</title>
    <style>
        body {
            text-align: center; /* הכותרות יהיו במרכז */
            font-family: Arial, sans-serif; /* פונט: אריאל */
        }

        nav ul {
            padding: 0;
        }

        nav ul li {
            list-style: none; /* מחיקת תבנית הרשימה */
            display: inline; /* להציג את האפשרויות בצד זה לצד בלבד */
            margin: 0 15px; /* מרווח בין האפשרויות */
        }
    </style>
</head>
<body>
    <header>
        <h1>MOODS</h1>
        <p>heal your moods</p>
    </header>

    <nav>
        <ul>
            <li><a href="home.html">דף הבית</a></li>
            <li><a href="registration.html">דף הרשמה</a></li>
            <li><a href="user_management.html">דף ניהול משתמשים</a></li>
            <li><a href="mood_entry.html">מצב רוח</a></li>
            <li><a href="journal.html">דף יומן</a></li>
            <li><a href="graph_data.html">דף נתונים גרפיים</a></li>
            <li><a href="settings.html">דף הגדרות</a></li>
            <li><a href="help.html">דף מטפלים ועזרה ראשונה</a></li>
        </ul>
    </nav>

    <div class="content">
        <!-- כאן יכול להופיע התוכן של דף הבית -->
    </div>

    <footer>
        <!-- כאן יכול להופיע התוכן של הכותרת התחתונה או מידע נוסף -->
    </footer>
</body>
</html>

